<header id="topHead" class="navbar navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<div class="options-left">
				<a href="" id="btn-list">
					<div class="btn-left categories-icon" type="button">
						<i class="fa fa-list custom"></i>
					</div>
				</a>
				{{!-- <div class="controllers-left">
					<div><span class="greenIcon">rondas:</span> <span id="round">0</span></div>
					<div><span class="greenIcon">puntuación:</span> <span id="currentScore">0</span></div>
				</div> --}}
			</div>
			<div class="options-right" type="button">
				<!-- Mobile -->
				<div class="mobile">
					<a data-toggle="dropdown" href="#" id="social"><i class="fa fa-ellipsis-v custom"></i></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<!-- /Perfil ó Editar perfil -->
						<li><a href="">Empezar de nuevo</a></li>
						<li><a href="">Configuración</a></li>
						<li><a href="">Ayuda</a></li>
					</ul>
				</div>
			</div>
			<div class="navbar-center">
				Mapbox
			</div>
		</div>
	</div>
	<div class="shadow"></div>
</header>
